* {
  box-sizing: border-box;
}

body {
  background-color: #0b1321;
  font-family: "Roboto", sans-serif !important;
  font-size: 0.9rem;
  color: #2b2b2b;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-light {
  background-color: #ffffff !important;
}

button,
a,
link,
input,
select,
textarea {
  border-radius: 0px;
}

.table > :not(:first-child) {
  border-top: 0 !important;
}

.tui-image-editor-header-logo {
  display: none !important;
}

.tui-image-editor-help-menu {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.template-container > img {
  display: block;
  width: 30%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}